*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #1C1C1C;
  --color-text: #FFFEFE;
  --color-text-secondary: #A0A0A0;
  --color-primary: #E9FA49;
  --color-danger: #F53B4C;
  --radius: 8px;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg);
}

input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: inherit;
}
